@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(249, 250, 251);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.linear-wipe {
  animation: flow 15s ease-in-out infinite;
  background: linear-gradient(-90deg, #0988ff, #1b24c6);
  background-size: 100%;
  padding-left: 1rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-wipe1 {
  animation: flow 15s ease-in-out infinite;
  background: linear-gradient(-90deg, #fbabff, #ad8aff);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.error {
  border-color: red;
}

body.dark {
  background-color: #000;
  color: #fff;
}